<div class="row">
    <div class="col-md-12 m-b-30">
        <!-- begin page title -->
        <div class="d-block d-lg-flex flex-nowrap align-items-center">
            <div class="page-title mr-4 pr-4 border-right">
                <h1>Quản lý Bàn</h1>
            </div>

            <div
                    class="ml-auto d-flex align-items-center secondary-menu text-center"
            ></div>
        </div>
        <!-- end page title -->
    </div>
</div>
<!-- end row -->
<!-- begin row -->
<div class="row">
    <div class="col-md-12">
        <div class="card card-statistics">
            <div class="card-header">
                <div class="card-heading">
                    <h4 class="card-title">Sửa bàn</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <form name="frmTable">
                            <div class="form-group">
                                <label>Số bàn</label>
                                <input
                                        name="name"
                                        ng-model="table.name"
                                        required
                                        type="text"
                                        class="form-control"
                                />
                                <div
                                        ng-show="frmTable.id.$invalid"
                                        class="badge badge-danger m-2"
                                >
                                    Name not null
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Mô tả</label>
                                <input
                                        name="description"
                                        ng-model="table.description"
                                        type="text"
                                        class="form-control"
                                />
                            </div>
                            <button
                                    ng-disabled="frmTable.$invalid || chon == true"
                                    ng-click="create()"
                                    class="btn btn-primary"
                            >
                                Tạo mới
                            </button>
                            <button
                                    ng-disabled="frmTable.$invalid  || chon != true"
                                    ng-click="update(table.id)"
                                    class="btn btn-info"
                            >
                                Cập nhập
                            </button>
                            <button ng-click="reset()" class="btn btn-secondary">
                                Làm mới
                            </button>
                        </form>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-statistics">
            <div class="card-header">
                <div class="card-heading">
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <h4 class="card-title">Bảng bàn</h4>
                        </div>
                        <div class="col-md-6">
                            <form class="justify-content-end">
                                <div class="form-group">
                                    <input
                                            oninput="angular.element(this).scope().search(this.value)"
                                            type="text"
                                            class="form-control"
                                            placeholder="Search"
                                    />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Id bàn</th>
                            <th scope="col">Tên bàn</th>
                            <th scope="col">Trạng thái</th>
                            <th scope="col">Ghi chú</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="table in tables">
                            <th scope="row">{{$index+1}}</th>
                            <td>{{table.id}}</td>
                            <td>{{table.name}}</td>
                            <td>
                                {{table.status==-1?'Đã bị xóa':table.status==0?'Trống':'Có
                                người'}}
                            </td>
                            <td>{{table.description}}</td>
                            <td class="text-center" style="width: 300px">
                                <button ng-click="edit(table.id)" class="btn btn-primary">
                                    Sửa
                                </button>
                                <button
                                        ng-disabled="table.status!=0"
                                        ng-click="changeStatus(table.id,-1)"
                                        class="btn btn-dark"
                                >
                                    Xóa
                                </button>
                                <button
                                        ng-disabled="table.status!=-1"
                                        ng-click="changeStatus(table.id, 0)"
                                        class="btn btn-dark"
                                >
                                    Khôi phục
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .app-main .container-fluid {
        padding: 70px 120px 0px 120px !important;
    }
</style>
